<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .section bg-gray section-padding aos-init aos-animate{
            margin-top: -277px;
        }
        .section-padding {
            padding-top: 40px;
            padding-bottom: 120px;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConstPress - Construction Bootstrap5 Template</title>

    <!-- Favicons -->
    <link rel="stylesheet" th:href="@{/assets/images/favicon.png}">



    <!-- Vendor CSS (Icon Font) -->

    <link rel="stylesheet" th:href="@{/assets/css/vendor/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/vendor/pe-icon-7-stroke.min.css}">

    <!-- Plugins CSS (All Plugins Files) -->

    <link rel="stylesheet" th:href="@{/assets/css/plugins/splitting.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/nice-select.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/aos.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/odometer-theme-default.min.css}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">


</head>

<body>
<!-- Header Section Start -->
<div class="header section">

    <!-- Header Top Start -->
    <div class="header-top bg-secondary">
        <div class="container">
            <div class="row align-items-center">
                <!-- Header Top Link/Search Start -->
                <div class="col-lg-8 col-md-12">
                    <ul class="header-top-links">
                        <li><i class="fa fa-envelope-o"></i><a href="#"> no way</a></li>
                        <li><i class="fa fa-clock-o"></i> <span>Monday - Sunday 9.00 - 15.00  Don't take it seriously || 仅供娱乐  曹县牛逼 </span> </li>
                    </ul>
                </div>
                <!-- Header Top Link/Search End -->
                <!-- Header Top Action Bar Start -->
                <div class="col-lg-4 col-md-12 text-md-right expert-text">
                    <p> Talk with Expert : <span> Go with fate </span> </p>
                </div>
                <!-- Header Top Action Bar End -->
            </div>
        </div>
    </div>
    <!-- Header Top End -->

    <!-- Header Bottom Start -->
    <div class="header-bottom section header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <!-- Header Logo Start -->
                <div class="col-lg-3 col-6">
                    <div class="header-logo">
                        <a href="https://hecoinfo.com/token/0x4214c540152161ca47fd3341a731bda337951d21" target="_blank"><img th:src="@{/assets/images/logo/logo.png}" alt="Site Logo" /></a>
                    </div>
                </div>
                <!-- Header Logo End -->

                <!-- Header Menu Start -->
                <div class="col-lg-9 col-6">
                    <!-- Main Menu Start -->
                    <div class="main-menu d-none d-lg-flex">
                        <ul>
                            <li>
                                <a href="https://hecoinfo.com/token/0x4214c540152161ca47fd3341a731bda337951d21" target="_blank">CXNB--ADDRESS</a>
                            </li>
                            <li>
                                <a href="https://ht.mdex.com/?#/swap?inputCurrency=0xa71edc38d189767582c38a3145b5873052c3e47a&outputCurrency=0x4214c540152161ca47fD3341a731BDa337951D21" target="_blank">Project</a>
                            </li>
                            <li class="has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="https://hecoinfo.com/token/0x4214c540152161ca47fd3341a731bda337951d21" target="_blank">Wait, there's a surprise</a></li>
                                </ul>
                            </li>
                            <li >
                                <a href="https://twitter.com/cxnbt?s=21" target="_blank">Twiter</a>
                            </li>
                            <li >
                                <a href="https://t.me/CXNBTOKEN" target="_blank">Telegram</a>
                            </li>

                        </ul>
                    </div>
                    <!-- Main Menu End -->

                    <!-- Main Menu Riht Side Start -->
                    <div class="main-menu-right-side d-flex d-lg-none">

                        <!-- Header Search Start -->
                        <div class="header-search mr-4">
                            <a class="header-search-icon" href="#"><i class="fa fa-search"></i></a>
                        </div>
                        <!-- Header Search End -->

                        <!-- Mobile Menu Bar Start -->
                        <div class="mobile-menu-bar-wrapper">
                            <a href="#" class="mobile-menu-bar"><i class="fa fa-bars"></i></a>
                        </div>
                        <!-- Mobile Menu Bar End -->

                    </div>
                    <!-- Main Menu Riht Side End -->

                </div>
                <!-- Header Menu End -->
            </div>
        </div>
    </div>
    <!-- Header Bottom End -->

    <!-- Mobile Menu Start -->
    <div class="mobile-menu-wrapper">
        <div class="body-overlay"></div>
        <!-- Mobile Menu Inner Start -->
        <div class="mobile-menu-inner">

            <!-- Button Close Start -->
            <div class="btn-close-bar">
                <i class="pe-7s-close"></i>
            </div>
            <!-- Button Close End -->

            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <nav>
                    <ul class="mobile-menu">
                        <li>
                            <a href="https://hecoinfo.com/token/0x4214c540152161ca47fd3341a731bda337951d21" target="_blank">CXNB--ADDRESS</a>
                        </li>
                        <li>
                            <a href="https://ht.mdex.com/?#/swap?inputCurrency=0xa71edc38d189767582c38a3145b5873052c3e47a&outputCurrency=0x4214c540152161ca47fD3341a731BDa337951D21" target="_blank">Project</a>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="https://hecoinfo.com/token/0x4214c540152161ca47fd3341a731bda337951d21" target="_blank">Wait, there's a surprise</a></li>
                            </ul>
                        </li>
                        <li >
                            <a href="https://twitter.com/cxnbt?s=21" target="_blank">Twiter</a>
                        </li>
                        <li >
                            <a href="https://t.me/CXNBTOKEN" target="_blank">Telegram</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- mobile menu end -->

            <!-- Contact Links/Social Links Start -->
            <div class="mt-auto">
                <!-- Contact Link Start -->
                <ul class="contact-links">
                    <li><i class="fa fa-envelope-o"></i><a href="#"> no way</a></li>
                    <li><i class="fa fa-clock-o"></i> <span>Monday - Sunday 9.00 - 18.00</span> </li>
                </ul>
                <!-- Contact Link End -->

                <!-- Social Widget Start -->
                <div class="widget-social">
                    <a title="Twitter" href="https://twitter.com/cxnbt?s=21" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a title="Telegram" href="https://t.me/CXNBTOKEN" target="_blank"><i class="fa fa-telegram"></i></a>
                </div>
                <!-- Social Widget End -->
            </div>
            <!-- Contact Links/Social Links End -->

        </div>
        <!-- Mobile Menu Inner End -->
    </div>
    <!-- Mobile Menu End -->

    <!-- Offcanvas Search Start -->
    <div class="offcanvas-search">
        <!-- Offcanvas Search Inner Start -->
        <div class="offcanvas-search-inner">
            <!-- Button Close Start -->
            <div class="btn-close-bar">
                <i class="pe-7s-close"></i>
            </div>

        </div>
        <!-- Offcanvas Search Inner End -->

    </div>
    <!-- Offcanvas Search End -->

</div>

<!-- Project Section Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section bg-gray section-padding" data-aos="fade-up" data-aos-delay="100">
            <div class="container">
                <div class="row">
                    <div class="about-content-area title-box" data-aos="fade-up" data-aos-delay="300">
                        <h2 class="title">1 CXNB （曹县）= 666 BTC</h2>
                        <h2 class="title">Get In CXNB COIN -- 领取 one Billion</h2>
                        <span></span>
                        <p class="sub-title">consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-form">

                                <div class="row">
                                    <div class="col-12 mb-6" data-aos="fade-up" data-aos-delay="400">

                                        <input class="input-item" id="paycode" type="text" placeholder="请输入eth钱包地址/heco钱包地址" name="paycode"/>

                                    </div>
                                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                        <button class="btn btn-primary btn-hover-dark" onclick="payNow()">Send 领取空投</button>
                                        <button class="btn btn-primary btn-hover-dark" onclick="window.open('https://ht.mdex.com/?#/swap?inputCurrency=0xa71edc38d189767582c38a3145b5873052c3e47a&outputCurrency=0x4214c540152161ca47fD3341a731BDa337951D21') ">SWAP/Buy 兑换</button>
                                        <button class="btn btn-primary btn-hover-dark" onclick="window.open('https://ht.mdex.com/?#/add/0x4214c540152161ca47fD3341a731BDa337951D21/0xa71EdC38d189767582C38A3145b5873052c3e47a') ">增加流动性</button>
                                    </div>
                                    <div class="widget-social justify-content-start mt-6">
                                        <p>联系地址如：</p>
                                        <a title="Twitter" href="https://twitter.com/cxnbt?s=21" target="_blank"><i class="fa fa-twitter"></i></a>
                                        <a title="Telegram" href="https://t.me/CXNBTOKEN" target="_blank"><i class="fa fa-telegram"></i></a>
                                    </div>
                                    <div>
                                        <h4 class="title mb-6">Project Description</h4>
                                        <p>领取后，24小时内发送。合约地址 0x4214c540152161ca47fd3341a731bda337951d21 有可能产生价值，但还请谨慎swap。目前98.95%已销毁。</p>
                                        <p>曹县牛逼-基于火币heco生态发布,这是一个实验性娱乐通缩token。仅限娱乐，非盈利性。每笔交易均需要缴纳4%的交易税。其中，2%发送到燃烧地址，2%的交易分配给现有的持有人。 另外1%用于奖励所有持币用户。合约地址详见标题栏。</p>
                                        <p>This is an experimental entertainment token.Each transaction is subject to a 4% transaction tax. Of these, 2% are sent to burning addresses and 2% are allocated to existing holders. The other 1% will be used to reward all coin holders.</p>
                                    </div>
                                </div>

                            <p class="form-messege"></p>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1">
                        <div class="contact-panel__info bg-overlay bg-overlay-primary bg-img">

                            <div class="contact-block">
                                <h5 class="contact-block__title">Made BY</h5>
                                <ul class="contact-block__list list-unstyled">
                                    <li>China Cao Xian</li>
                                </ul>
                            </div><!-- /.contact-panel__info__block -->
                            <div class="contact-block">
                                <h5 class="contact-block__title">Contract</h5>
                                <ul class="contact-block__list list-unstyled">
                                    <li>https://hecoinfo.com/token/</li>
                                    <li>0x4214c540152161ca47fd3341a731bda337951d21</li>
                                </ul>
                            </div><!-- /.contact-panel__info__block -->
                            <div class="contact-block">
                                <h5 class="contact-block__title">Swap</h5>
                                <ul class="contact-block__list list-unstyled">
                                    <li>https://ht.mdex.com/?#/swap?inputCurrency=</li>
                                    <li>0xa71edc38d189767582c38a3145b5873052c3e47a</li>
                                    <li>&outputCurrency=</li>
                                    <li>0x4214c540152161ca47fD3341a731BDa337951D21</li>
                                </ul>
                            </div><!-- /.contact-panel__info__block -->
                            <a onclick="thanks()" class="btn btn__white btn__bordered btn__icon btn__xl">
                                <span>Thanks</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-12">
                <div class="project-image mb-10">
                    <img th:src="@{/assets/images/project/cax.jpg}" alt="Project Large Image">
                    <img th:src="@{/assets/images/project/project-image-lg.jpg}" alt="Project Large Image">
                </div>
            </div>
        </div>

        <div class="row mb-n9">
            <div class="col-md-5 col-lg-3 mb-8 col-sm-12">
                <div class="project-info">
                    <h4 class="title mb-6">Project Information</h4>
                    <ul class="mb-n1">
                        <li><span>Client:</span>1 cxnb = 666 BTC</li>
                        <li><span>Area:</span> California</li>
                        <li><span>Date:</span>June - 2021</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-9 col-sm-12 mb-8">
                <div class="project-desc">
                    <h4 class="title mb-6">Project Description</h4>
                    <p>Wish China prosperous and strong</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project Masonry Section End -->

<footer class="section footer-section bg-secondary">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row mb-n10">
                <div class="col-12 col-sm-6 col-lg-3 col-xl-3 mb-10">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img th:src="@{/assets/images/logo/footer-logo.png}" alt="Logo Image">
                            </a>
                        </div>
                        <p class="desc-content pt-5 pb-3">Lorem ipsum dolor sit amet, consect ascing elit, sed do eiusmod incididunt ut labore et dolore Many desktop</p>
                        <a class="read_more" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xl-3 mb-10">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Our Servcie</h2>
                        <ul class="widget-list pt-6">
                            <li><a href="#">Mobile App Development wait for opening</a></li>
                            <li><a href="#">Ui/Ux Design wait for opening</a></li>
                            <li><a href="#">Web Development wait for opening</a></li>
                            <li><a href="#">Article Writting wait for opening</a></li>
                            <li><a href="#">Content Management wait for opening</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 col-xl-3 mb-10">
                    <div class="single-footer-widget aos-init aos-animate">
                        <h2 class="widget-title">Quicklink</h2>
                        <ul class="widget-list pt-6">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="https://twitter.com/cxnbt?s=21" target="_blank">Term Of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-10">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Get in Touch</h2>
                        <div class="widget-body pt-5">
                            <p class="desc-content mb-0">Enter your email and receive the latest news from us.</p>

                            <!-- Newsletter Form Start -->
                            <div class="newsletter-form-wrap pt-4">
                                <form id="mc-form" class="mc-form">
                                    <input type="email" id="mc-email" class="form-control email-box" placeholder="info@example.com" name="EMAIL">
                                    <button id="mc-submit" onclick="emailNow()" class="newsletter-btn" type="submit"><i class="fa fa-envelope"></i></button>
                                </form>
                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                                </div>
                                <!-- mailchimp-alerts end -->
                            </div>
                            <!-- Newsletter Form End -->

                            <!-- Soclial Link Start -->
                            <div class="widget-social justify-content-start mt-6">
                                <a title="Twitter" href="https://twitter.com/cxnbt?s=21" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a title="Telegram" href="https://t.me/CXNBTOKEN" target="_blank"><i class="fa fa-telegram"></i></a>
                            </div>
                            <!-- Social Link End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Bottom Start -->
    <div class="container">
        <div class="row align-items-center footer-bottom">
            <div class="col-12 text-center">
                <div class="copyright-content">
<!--
                    <p class="mb-0">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="#">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
-->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>

<!-- Scroll Top Start -->
<a href="#" class="scroll-top" id="scroll-top">
    <i class="arrow-top fa fa-arrow-up"></i>
    <i class="arrow-bottom fa fa-arrow-up"></i>
</a>
<!-- Scroll Top End -->

<!-- Vendors JS -->


<script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-3.5.1.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/assets/js/vendor/modernizr-3.11.2.min.js}"></script>


<!-- Plugins JS -->


<script th:src="@{/assets/js/plugins/splitting.min.js}"></script>
<script th:src="@{/assets/js/plugins/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/js/plugins/aos.min.js}"></script>
<script th:src="@{/assets/js/plugins/nice-select.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/assets/js/plugins/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/plugins/masonry.min.js}"></script>
<script th:src="@{/assets/js/plugins/odometer.min.js}"></script>





<!--Main JS-->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/plugins/sweetalert.min.js}"></script>
<script>

    function thanks(){
        swal("May the Lord bless you and keep you.！");
    }


    function emailNow() {

        var email = $("#mc-email").val();
        if(email==''){
            swal("email is empty||地址不能为空！");
            return
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/order/email/"+email+"/callback",
            success: function (result) {
                if(result=="success"){
                    swal({
                        title: "Good job!",
                        text: "Good Email",
                        icon: "success",
                        button: "Aww yiss!",
                    });
                }else {
                    swal(result);
                }
            }
        });
    }


    function payNow() {

        var paycode = $("#paycode").val();
        if(paycode==''){
            swal("addres is empty||地址不能为空！");
            return
        }
        if(paycode.length>43){
            swal("Invalid address||无效地址！");
            return
        }
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/order/make/"+paycode,
            success: function (result) {
                if(result=="success"){
                    swal({
                        title: "Good job!",
                        text: "CXNB will be send in three days!||COIN三天内发放",
                        icon: "success",
                        button: "Aww yiss!",
                    });
                }else {
                    swal(result);
                }
            }
        });
    }




</script>
</body>

</html>